<%- include('layout/header') %>
<section>
  <h2>Home</h2>
  <article class="grid">
    <img src="images/food.webp" alt="" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, harum.
      Expedita, nam magnam dolorum veniam libero delectus mollitia doloribus
      neque sapiente molestiae, voluptatibus exercitationem facere inventore
      aliquid quia. Voluptate enim molestias error aperiam inventore harum
      dignissimos, quia voluptates fugiat laboriosam, ad delectus ipsam fugit.
      Laudantium perferendis enim explicabo tempore nulla?
    </p>
  </article>
</section>

<%- include('layout/footer') %>
